<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Taskify{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {# Toast flash #}
        <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 9999">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="toast align-items-center text-bg-{{ type }} border-0" role="alert">
                        <div class="d-flex">
                            <div class="toast-body">
                                {{ message }}
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>
</html>
