{% extends "base.html.twig" %}

{% block body %}
    {% include "dashboard/_header.html.twig" %}
    <div class="container-fluid">
        <div class="row">
            {% include "dashboard/_sidebar.html.twig" %}
        </div>
    </div>
{% endblock %}
